---
import Skill from '@components/Skill.astro';
// @ts-ignore
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

interface Props {
	name: string;
    description: string;
    url: string;
    imgSrc: ImageMetadata;
    imgAlt: string;
    skills: Array<string>
}

const { name, description, url, imgSrc, imgAlt, skills } = Astro.props;
---
<a href={url} target="_blank" class="flex flex-col md:flex-row gap-5 lg:gap-8 project-card" rel="noopener">
    <Image src={imgSrc} alt={imgAlt} class="md:w-44 h-full rounded mt-2" />

    <article>
        <header class="flex items-center gap-1">
            <h3 class="text-lg">
                {name}
            </h3>
            
            <Icon name="mdi:arrow-up-thin" class="h-6 rotate-45" />
        </header>

        <p class="text-base leading-snug! mb-3">
            {description}
        </p>

        <div class="flex flex-wrap gap-2">
            {skills.map((name) => (
                <Skill name={name} />
            ))}
        </div>
    </article>
</a>

<style lang="scss">
    a {
        transition: all .2s var(--bouncy-cubic);
        opacity: 0;
        transform: translateY(20px);

        &.in-view {
            opacity: 1;
            transform: translateY(0);
        }

        &:hover,
        &:focus {
            transform: translateY(-2px);
        }
    }
</style>

<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('in-view');
            } else {
                entry.target.classList.remove('in-view');
            }
        });
    }, {
        threshold: 0.1,
        rootMargin: '0px 0px -50px 0px'
    });

    document.querySelectorAll('.project-card').forEach(card => {
        observer.observe(card);
    });
</script>