---
import Skill from '@components/Skill.astro';
import Icon from 'astro-icon';
import { Image } from 'astro:assets';

interface Props {
	name: string;
    description: string;
    url: string;
    imgSrc: ImageMetadata;
    imgAlt: string;
    skills: Array<string>
}

const { name, description, url, imgSrc, imgAlt, skills } = Astro.props;
---
<a href={url} target="_blank" class="flex flex-col md:flex-row gap-5 lg:gap-10">
    <Image src={imgSrc} alt={imgAlt} class="md:w-44 md:h-full rounded mt-2" />

    <article>
        <header class="flex items-center gap-1">
            <h2 class="text-lg">
                {name}
            </h2>
            
            <Icon name="mdi:arrow-up-thin" class="h-6 rotate-45" />
        </header>

        <p class="text-sm leading-snug! mb-3">
            {description}
        </p>

        <div class="flex flex-wrap gap-2">
            {skills.map((name) => (
                <Skill name={name} />
            ))}
        </div>
    </article>
</a>

<style lang="scss">
    a {
        transition: all .2s var(--bouncy-cubic);

        &:hover,
        &:focus {
            transform: translateY(-2px);
        }
    }
</style>