--- 
import Footer from '@components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import '@styles/global.scss';

interface Props {
	title: string;
	description: string
}

const { title, description } = Astro.props;
---

<!DOCTYPE html> 
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-grey-blue text-cyan-green">
		<div class="cursor"></div>

		<main class="p-[5vw] lg:p-[9vw] justify-center">
			<slot />
		</main>
	</body>
</html>

<style is:global lang="scss">
	:root {
		--bouncy-cubic: cubic-bezier(.48, -.38, .41, 1.22);
	}

	* {
		box-sizing: border-box;
		cursor: none !important;
	}

	html {
		scroll-behavior: smooth;
	}

	.cursor {
		--cursor-y: 0;
		--cursor-x: 0;
		background-color: #66FCF1;
		opacity: 0;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		pointer-events: none;
		user-select: none;
		position: fixed;
		top: var(--cursor-y);
		left: var(--cursor-x);
		z-index: 999;
		will-change: transform, top, left;
		transition: transform .4s cubic-bezier(.23,1,.32,1);

		&.hover {
			transform: scale(3.5);
			background-color: #FFCB9A;
			mix-blend-mode: difference;
		}

		&.active {
			opacity: 1;
		}
	}
</style>

<script>
	(function() {
		// Check for touchscreen to avoid leaving the custom cursor on screen.
		if (!window.matchMedia("(pointer: coarse)").matches) {
			let cursor: HTMLElement = document.querySelector('.cursor') as HTMLElement;
			const DEBUG: boolean = false; // Ease-of-access debugging.

			/** Update X/Y position of the custom cursor. */
			const updatePosition = (e: MouseEvent) => {
				// Offset by 10 to center it on the original cursor.
				const x: number = e.clientX - 10;
				const y: number = e.clientY - 10;
				
				DEBUG && console.log('Updating cursor position');
				DEBUG && console.log('X: ' + x + ' / ' + 'Y: ' + y);

				cursor.style.setProperty('--cursor-y', `${y}px`);
				cursor.style.setProperty('--cursor-x', `${x}px`);
				cursor.classList.add('active');
			}

			/** Toggle hover state of the cursor. */
			const toggleCursorHoverState = (isHover: boolean) => {
				DEBUG && console.log('Setting Hover State: ' + isHover);

				cursor.classList.toggle('hover', isHover);
			};

			/** Enable custom hover states on defined hoverables. */
			const setHoverables = () => {
				const hoverables: NodeListOf<HTMLAnchorElement> = document.querySelectorAll('a');

				DEBUG && console.log('Detected hoverables: ' + hoverables);

				hoverables.forEach((hoverable) => {
					hoverable.addEventListener('mouseover', () => toggleCursorHoverState(true));
					hoverable.addEventListener('mouseleave', () => toggleCursorHoverState(false));
				});
			};

			document.documentElement.addEventListener('mousemove', updatePosition);
			document.documentElement.addEventListener("mouseenter", updatePosition);
			document.documentElement.addEventListener("mouseleave", () => cursor.classList.remove('active'));

			setHoverables();

			// When using astro view transitions, listeners needs to be reinitialized.
			document.addEventListener("astro:page-load", () => {
				DEBUG && console.log('Reinitializing listeners and hover states.');

				toggleCursorHoverState(false); // Prevent sticky hover effect on cursor.
				setHoverables(); // Reattach listeners to new elements after page load.
				cursor = document.querySelector('.cursor') as HTMLElement // Re-set cursor element.
			});
		}
	})();
</script>